@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" ng-app="albumApp">
<head>
    <meta charset="UTF-8">
    <title>getAlbums-container</title>
    <script src="@routes.Assets.at("javascripts/vendor/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angular.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/album.js")" type="text/javascript"></script>
</head>
<body ng-controller="AlbumController as albumCtrl">
    <div class="getAlbumList-container" >
        <ul>
            <li ng-repeat="album in albumList" >
                <a ng-click="albumCtrl.selectAlbum(album.id)">{{album.name}}</a>
                <span>{{album.created_time | date: date:"MM/dd/yyyy 'at' h:mma"}}</span>
            </li>
        </ul>
    </div>
    <div class="album-detail-view">
        <div>
            <div><input name="name" value="{{selectedAlbum.name}}" ng-model="selectedAlbum.name"/></div>
            <div>{{selectedAlbum.createdTime | date: date:"MM/dd/yyyy 'at' h:mma" }}</div>
            <div>{{selectedAlbum.likes.length}}</div>
            <div>{{selectedAlbum.place}}</div>
            <div><input type="button" class="btn btn-primary" value="update" ng-click="albumCtrl.updateAlbum()"></div>
        </div>
        <ul>
            <li ng-repeat="photo in albumPhotoList">
                <a ng-click="albumCtrl.selectPhoto(photo)">
                    <img src="{{photo.url}}"/>
                    <div>{{photo.name}}</div>
                    <div>{{photo.createdTime | date: date:"MM/dd/yyyy 'at' h:mma" }}</div>
                    <div>{{photo.likes.length}}</div>
                    <div>{{photo.comments.length}}</div>
                </a>
            </li>
        </ul>
        <div>
            <img src="{{selectedPhoto.url}}"/>
            <div>
                <ul>
                    <li ng-repeat="comment in selectedPhoto.comments">

                    </li>
                </ul>
            </div>
            <div>
                <input type="text" ng-model="currentComment" />
                <input type="button" value="Submit comment" ng-click="albumCtrl.submitComment()"/>
            </div>

        </div>
    </div>
</body>
</html>